.wrapper{
  width: 100%;
}

.main_block{
  opacity: 0;
  padding:4% 0 0;
  width: 600px;
  margin:0 auto;
  animation:main_block  1s 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
}

@keyframes main_block {
  0%{
    opacity: 0;
    transform: translateY(50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.description{
  padding:4% 0 0;
  width: 600px;
  margin:0 auto;
}

.shadow_green{
  box-shadow: 0px 0px 10px greenyellow;
}
.shadow_red{
  box-shadow: 0px 0px 10px red;
}